.led {
  margin: 0 10px 0 0;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  background: #808080;
  border-radius: 50%;
  vertical-align: middle;
  mix-blend-mode: hard-light;
  box-shadow: inset 0.2em 0.2em 0.3em rgba(255, 255, 255, 0.1), inset -0.1em -0.1em 0.3em 0.1em rgba(0, 0, 0, 0.25), inset 1em 0.5em 0.3em rgba(0, 0, 0, 0.5);
}
.led:before {
  content: '';
  border-radius: 50%;
  display: block;
  width: 0.2em;
  height: 0.2em;
  background: #fff;
  opacity: 0.3;
  margin-top: 0.2em;
  margin-left: 0.2em;
  mix-blend-mode: overlay;
}
.led.led-xs {
  font-size: 50%;
}
.led.led-sm {
  font-size: 75%;
}
.led.on {
  box-shadow: inset -0.05em -0.05em 0.5em 0.1em rgba(0, 0, 0, 0.25), inset 0 0 1em 0.1em rgba(255, 255, 255, 0.25), 0 0 1em 0.2em;
}

h1 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 0;
}