.example-container {
  height: calc(100% - 64px);
  background: rgb(255, 255, 255);
  /* margin-top: 64px; */
}

.example-drawer {
  background: #fafafa
}

/* .fixed-header {
  top: 0;
  position: fixed;
  z-index:999;
} */