<app-bar [(isNavOpen)]="isNavOpen"></app-bar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side" class="example-drawer" [opened]="isNavOpen" role="navigation">
    <mat-nav-list>
      <h3 mat-subheader>Led modes:</h3>
      <a mat-list-item (click)="navigate('')" >Solid colors</a>
      <a mat-list-item (click)="navigate('fade')">Fading colors</a>
      <h3 mat-subheader>Setting:</h3>
      <a mat-list-item (click)="navigate('wifi')">Wifi Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>