<app-bar [(isNavOpen)]="isNavOpen"></app-bar>

<sidebar-js
  sidebarjsName="sidebar"
  [sidebarjsConfig]="{position: 'left', backdropOpacity: 0.3}"
  (open)="openNav()" (close)="closeNav()">
  <div style="padding-top: 64px">
    <mat-nav-list>
      <h3 mat-subheader>Led modes:</h3>
      <a mat-list-item (click)="navigate('')" >Solid colors</a>
      <a mat-list-item (click)="navigate('fade')">Fading colors</a>
      <h3 mat-subheader>Setting:</h3>
      <a mat-list-item (click)="navigate('wifi')">Wifi Settings</a>
    </mat-nav-list>
  </div>
</sidebar-js>

<div style="padding-top: 64px">
    <router-outlet></router-outlet>
</div>
