<mat-list>
  <h3 mat-subheader>Leds</h3>
 <mat-list-item>
   <app-led [r]="r" [intensity]="r"></app-led>
   <mat-slider style = "width:100%" [value]="r" (input)="r = $event.value; change()"></mat-slider>
</mat-list-item>
 <mat-list-item>
   <app-led [g]="g" [intensity]="g"></app-led>
   <mat-slider style = "width:100%"[value]="g" (input)="g = $event.value; change()"></mat-slider>
</mat-list-item>
<mat-list-item>
    <app-led [b]="b" [intensity]="b"></app-led>
   <mat-slider style = "width:100%" [value]="b" (input)="b = $event.value; change()"></mat-slider>
</mat-list-item>
<mat-list-item>
  <div class="example-button-row">
  <button mat-raised-button color="primary" (click)="done()">Done</button>
  <button mat-raised-button color="warn" (click)="back()">Cancel</button>
  </div>
</mat-list-item>
</mat-list>